.taskHasDone{
	text-decoration: line-through;
}

.taskUndone{
	text-decoration: none;
}

.task{
	background-color: #ECEFF1;
	margin-top:2%;
	margin-left: 5%;
	padding: 15px 15px 0 15px;
	width: 280px;
	height: auto;
	display: inline-block;
	cursor: pointer;
}

.container-tasks{
	display: inline-block;
	width: 100%;
}