body{
	background-color: rgb(210, 140, 13);
}
.taskHasDone{
	text-decoration: line-through;
}

.taskUndone{
	text-decoration: none;
}

.task{
	background-color: #FFFFFF;
	margin-top:2%;
	margin-left: 5%;
	padding: 15px 15px 0 15px;
	width: 280px;
	height: auto;
	display: inline-block;
	cursor: pointer;
}

.task-body{
	padding:10px;
	width: 100%;
	height: auto;
}

.container-tasks{
	display: inline-block;
	width: 100%;
}